@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    
}

.dashboard-container{
    margin: 50px 160px 100px;
}
.txt-1{
    color: #8A8A8A;
    font-weight: 500;
}
.col-blk{
    color: #4D4D4D;
}
.top-section h1 ,.S-title{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin: 6px 0px 10px;
    font-size: 38px;
}
.txt-2{
    color: #4D4D4D;
    font-size: 18px;
}
.grid-container {
    /* display: grid;
    grid-template-columns: repeat(4, 350px);
    column-gap: 20px; 
    row-gap: 20px;  */
    font-family: "Poppins", sans-serif;
    margin: 50px 0 30px;
    /* justify-content: left;  */
}

.grid-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px; 
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    color: #555;
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
}


.grid-item:hover {
    transform: translateY(-5px); 
}

.status {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
    min-width: 60px;
}

.live {
    background-color: #74E220;
}

.na {
    background-color: #E22020;
}

/* AQI Title */
.aqi-title {
    font-size: 14px;
    color: #444;
    font-weight: 600;
    margin-bottom: 5px;
}

/* AQI Value */
.aqi-value {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}


.bottom-section{
    margin-top: 60px;
}
.sensor-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.sensor-form, .sensor-delete {
    background: none;
    padding: 20px;
    width: 45%;
}
.sensor-form h2, .sensor-delete h2{
    font-family: "Oswald", sans-serif;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 29px;
    color: #575555;
}
.input-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: white;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px;
    border: solid 0.5px #F3F3F3;
}
.input-group label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #424242;
}
input, select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    margin-bottom: 10px;
}
.form-row {
    display: flex;
    gap: 10px;
}
.form-row .input-group {
    flex-grow: 1; 
}
.add-btn, .delete-btn {
    width: 100%;
    padding: 16px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    margin-top: 15px;
    background: #1C1C1C;
    color: white;
}
.add-btn:hover, .delete-btn:hover {
    background-color: rgb(44, 44, 44);
    color: #ffffff;
}
.r-btn{
    width: 50%;
    padding: 12px;
    border: none;
    font-size:16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    margin-top: 15px;
    margin-left: 20px;
    background: #1C1C1C;
    color: white;
}
/* .welcome-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 50px;
    opacity: 0; 
    transform: scale(0.8);
    animation: fadeInScale 1.5s ease-out forwards; 
  } */
  
  @keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.top-flex-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 160px 0px;
}

.welcome-container {
    flex: 1;
}

.welcome-msg {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    animation: fadeInScale 0.5s ease-in-out;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

h3 {
    margin-bottom: 15px; 
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.toggle-section {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.toggle {
    position: relative;
    width: 90px;
    height: 40px;
    background: rgb(34, 177, 76);
    border-radius: 55px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    user-select: none;
}

.toggle-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    transition: 0.3s;
    outline: none;
    user-select: none;
}

.toggle.active {
    background: rgb(189, 31, 31);
}

.toggle.active .toggle-btn {
    left: 45px;
}

.text {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #333;
    user-select: none;
}


.admin-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.admin-table th, .admin-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.admin-table thead {
    background-color: #1f1f1f;
    color: white;
}

.admin-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-table tbody tr:hover {
    background-color: #f1f1f1;
}
.delete-admin-form {
    display: inline-block;
}

.save-btn, .delete-admin-btn {
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.save-btn {
    background-color: rgb(34, 177, 76);
    color: white;
}

.delete-admin-btn {
    background-color: #E22020;
    color: white;
}

.save-btn:hover {
    background-color: rgb(13, 116, 44);
}

.delete-admin-btn:hover {
    background-color: #C91717;
}

td[contenteditable="true"] {
    border: 1px solid transparent;
    outline: none;
    transition: border 0.3s ease;
}

td[contenteditable="true"]:focus {
    border: 1px solid #007BFF;
    background-color: #f0f8ff;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
}

.alert-error {
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0px;
}
.alert-success, .alert-error {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.sensor-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
}
.sensor-table th {
    background-color: #1f1f1f;
    font-weight: bold;
    white-space: nowrap; 
    color: white;
}

.sensor-table th, 
.sensor-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.sensor-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* 
.aqi-value {
    font-weight: bold;
    color: #333;
} */

.status {
    padding: 5px 10px;

    font-weight: bold;
}

.status.live {
    background-color: #71f08e;
    color: #0b4619;
}

.status.na {
    background-color: #f8d7da;
    color: #721c24;
}

.text-col {
    font-weight: bold;
}



  