.error-box {
    width: 600px;
    height: 100px;
    background-color: #fde2e2; 
    color: #b71c1c; 
    border: 1px solid #f5c6c6; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
}
