* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 100px 160px;
}
.txt-1{
    color: #8A8A8A;
    font-weight: 500;
}
.col-blk{
    color: #4D4D4D;
}

.top-section h1{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin: 6px 0px 10px;
    font-size: 38px;
}
.txt-2{
    color: #4D4D4D;
    font-size: 18px;
}

.mid-section{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.loc{
    color: #8A8A8A;
    margin-bottom: 5px;
}
.divider{
    background-color: #bebebe;
    height: 0.5px; 
    border: none;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.2);
    margin-top: 7px;

}
.L-p{
    margin-top: 10px;
    color: #29BD33;
}
.right-container{
    width: 800px;
}

.live-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #29BD33;
    border-radius: 50%;
    margin-right: 5px;
  }
  